* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: #3e3e3e;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.app {
  display: flex;
  flex: 1;
  padding: 10px;
}

.nav {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorter {
  background-color: transparent;
  border: none;
  outline: none;
}

.container {
  display: flex;
  flex: 1;
  flex-flow: column;

  .container__content {
    display: flex;
    flex-flow: row wrap;
  }
}

.form {
  display: flex;
  flex-flow: column;
  max-width: calc(100vw - 20px);
  width: 400px;

  .form__label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #e3e3e3;
  }

  .form__input {
    outline: none;
    border: none;
    padding: 5px;
    margin-bottom: 5px;

    &.form__input--large {
      width: 100%;
    }
  }

  .form__btn {
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #0693E3;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: #0583ca;
    }
  }
}

.output {
  padding: 10px 0;
  min-width: 300px;
}

.gallery {
  min-height: 300px;
}

// override, not the best thing to do but hey.
.chrome-picker {
  width: 100% !important;
  max-width: 400px;
}

.rect {
  display: inline-block;
  margin: 5px;
  opacity: 0;
  animation: spin 2s cubic-bezier(.2, 1.56, .34, -0.37) forwards;
  cursor: pointer;
  transition: all 1s ease;

  &:hover {
    transform: scale(1.1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@media screen and (min-width: 720px) {
  .output {
    padding: 0 10px;
  }
}
